* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}
.container {
  max-width: 1180px;
  width: 100%;
  padding: 0;
  margin: auto;
}
button:hover {
  transform: scale(1.1);
  transition: 3s;
}
#header {
  padding-block: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  cursor: pointer;
}
nav {
  align-items: center;
  display: flex;
  gap: 30px;
}
nav a {
  color: rgba(54, 56, 83, 1);
  cursor: pointer;
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
}
nav a:hover {
  color: rgba(255, 104, 56, 1);
}
nav button {
  cursor: pointer;
  border: none;
  background: rgba(255, 122, 80, 1);
  border-radius: 5px;
  color: #fff;
  padding: 15px 30px;
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
}
/* section */
/* se start */
.section1 {
  padding-block: 30px;
}
body {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.26) 0%,
    rgba(255, 255, 255, 0.38) 100%
  );
}

/* .container {
  max-width: 1300px;
  width: 100%;
  padding: 0;
  margin: auto;
} */

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.super span {
  color: rgb(255, 122, 80);
}

.super h1 {
  max-width: 300px;
  font-size: clamp(1rem, 0.591rem + 2.05vw, 2.125rem);
  margin-bottom: 20px;
}

.super p {
  max-width: 400px;
  margin-bottom: 20px;
}

.super button {
  width: 120px;
  height: 33px;
}

.super button:hover {
  background: rgb(255, 122, 80);
}

.logo img {
  max-width: 400px;
  position: relative;
}

#logo-1 {
  position: absolute;
  max-width: 150px;
  top: 205px;
  left: 750px;
  display: none;
}

#logo-2 {
  position: absolute;
  top: 303px;
  left: 1000px;
  max-width: 150px;
  display: none;
}

#logo-3 {
  position: absolute;
  top: 155px;
  left: 850px;
  max-width: 100px;
  display: none;
}

#logo-4 {
  position: absolute;
  display: none;
  top: 155px;
  left: 1000px;
  max-width: 100px;
}

#logo-5 {
  position: absolute;
  top: 173px;
  left: 1050px;
  max-width: 100px;
  display: none;
}

/* se end */
/* sec populsr */
.popular {
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  h1 {
    font-size: clamp(1rem, 0.474rem + 2.63vw, 2.25rem);
    display: flex;
    justify-content: center;
    padding-left: 10px;

    font-weight: 500;
    color: rgb(51, 51, 51);
    font-family: Rubik sans-serif;
    span {
      color: red;
      padding-inline: 10px;
    }
  }
}

.popular-buttons {
  padding-block: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  button {
    padding: 12px 20px;
    font-size: 16px;
    background: none;
    text-decoration: none;
    border: none;
  }
  img {
    max-width: 44px;
    max-height: 38px;
  }
}
.blok img {
  position: relative;
  right: -3px;
  top: 12px;
}

.blok:hover {
  background-color: #ff7a50;

  border-radius: 5px;
  button {
    color: #fff;
  }
  img {
    color: #fff;
  }
}

.populat-text {
  display: flex;
  justify-content: center;
  row-gap: 20px;
}
.our-content {
  padding-block: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  .ikons {
    color: rgb(217, 217, 76);
  }
}

.our-content .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 190px;
  max-height: 178px;
  align-items: center;
  p {
    color: #363853;
    font-size: 16px;
    font-weight: 400;
  }
}
.our-content img {
  max-width: 110px;
  max-height: 110px;
}

.box button {
  background-color: #ff7a50;
  color: #fff;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.contant {
  display: flex;
  justify-content: center;
  padding-block: 40px;
}

.get {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-block: 50px;
  background-color: #ff7a50;
  border-radius: 10px;
  h1 {
    color: #fff;
    font-size: clamp(1.25rem, 0.724rem + 2.63vw, 2.5rem);
  }
  p {
    font-size: clamp(0.688rem, 0.556rem + 0.66vw, 1rem);
    color: #fff;
    font-weight: 400;
  }
}
.get-input {
  display: flex;
  position: relative;
  button {
    font-size: 14px;
    color: #fff;
    background-color: #ff7a50;
    border-radius: 50px;
    padding: 10px 35px;
    border: 1px solid #fff;
    position: absolute;
    right: 5px;
    top: 11px;
  }
}
input {
  padding: 20px 180px;
  max-width: 838px;
  max-height: 78px;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  border-radius: 40px;
  list-style: none;
  border: none;
}
/* sec end */
/* section start */
#section {
  width: 90%;
}
.stay-img img {
  max-width: 500px;
}
.stay {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.stay-text {
  flex-direction: column;
  display: flex;
  gap: 20px;
}
.stay-text h2 {
  font-size: clamp(1rem, 0.545rem + 2.27vw, 2.25rem);
  line-height: 43px;
  font-weight: 500;
}

.stay-text h2 span {
  color: rgba(255, 122, 80, 1);
}
.stay-text p {
  width: 449px;
  /* height: 103px; */
  font-size: clamp(0.75rem, 0.568rem + 0.91vw, 1.25rem);
  color: rgba(54, 56, 83, 1);
  font-weight: 400;
  line-height: 20px;
}
.stay-text-1 {
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 300px;
}
.stay-text-1 h4 {
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
  line-height: 0px;
  font-weight: 400;
}
.stay-text-1 img {
  width: 100%;
  max-width: 40px;
  height: 40px;
}
.stay-text-2 {
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 300px;
}
.stay-text-2 h4 {
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
  font-weight: 400;
}

.stay-text-2 img {
  width: 100%;
  max-width: 40px;
  height: 40px;
}

.stay-text-3 {
  display: flex;
  gap: 30px;
  max-width: 300px;
  align-items: center;
}
.stay-text-3 h4 {
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
  font-weight: 400;
}
.stay-text-3 img {
  width: 100%;
  max-width: 40px;
  height: 40px;
}

.stay-text button {
  background: rgba(255, 122, 80, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  width: 100%;
  max-width: 166px;
  height: 50px;
  border-radius: 30px;
  border: none;
}
/* sec */
.theme span {
  color: rgb(255, 122, 80);
  font-size: clamp(1rem, 1.837rem + 0.82vw, 3.5rem);
}

.theme h1 {
  font-size: clamp(1rem, 1.837rem + 0.82vw, 3.5rem);
}

.theme {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.foods1 .foods2 .foods3 .foods4 .foods5 .foods6 img {
  max-width: 200px;
}

.foods1.foods1 .foods2 .foods3 .foods4 .foods5 .foods6 h3 {
  margin-top: 7px;
  font-size: clamp(1rem, 0.637rem + 0.82vw, 1.5rem);
  font-weight: 10;
  margin-bottom: 5px;
}

.FB button {
  border-radius: 50px;
  width: 80px;
  height: 35px;
  background: rgb(255, 122, 80);
  border-color: rgb(255, 122, 80);
  margin-bottom: 30px;
}

.FB ion-icon {
  color: white;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 25px;
}

.menu ion-icon {
  font-size: 25px;
  font-weight: 10;
}
/* sece */
/* header - end */
#app {
  padding-block: 30px;
}
.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.app-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.app-text h1 {
  font-size: clamp(1rem, 0.614rem + 1.93vw, 2.063rem);
}
.app-text h1 span {
  color: rgba(255, 122, 80, 1);
}
.app-text p {
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
  color: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
  max-width: 400px;
}
.app-ap {
  display: flex;
  gap: 20px;
}
.app-ap img:hover {
  transform: scale(1.1);
  transition: 3s;
  cursor: pointer;
}
.app img {
  max-width: 500px;
}

/* qwer */

.thema h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
}
.thema span {
  color: rgba(255, 122, 80, 1);
}

.angline {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.angline-text p {
  width: 553px;
  height: 206px;
  font-size: 23px;
  color: rgba(54, 56, 83, 1);
  line-height: 45px;
}

.angline-text h4 {
  color: rgba(255, 122, 80, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.angline-text h6 {
  color: rgba(170, 170, 170, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}

.angline-text-img img {
  position: relative;
  top: 50px;
  right: 40px;
}

.angline-text-img2 img {
  position: relative;
  top: -5px;
  left: 550px;
}

.angline-text-img3 img {
  position: relative;
  left: 480px;
  top: -85px;
  /* display: flex; */
  gap: 20px;
}
/* 12w3er */
/* app end */
.get {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgba(255, 122, 80, 1);
  padding-block: 50px;
  border-radius: 10px;
}
.get h1 {
  color: rgba(255, 255, 255, 1);
  font-size: clamp(1rem, 0.455rem + 2.73vw, 2.5rem);
}
.get p {
  color: rgba(255, 255, 255, 1);
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
}
.get-in {
  display: flex;
  align-items: center;
  gap: 228px;
  background: #fff;
  padding: 25px 30px;
  border-radius: 50px;
}
.get-in h2 {
  color: rgba(54, 56, 83, 1);
  font-size: clamp(0.938rem, 0.597rem + 1.7vw, 1.875rem);
}
.get-in_tg {
  display: flex;
  gap: 20px;
  background: rgba(255, 122, 80, 1);
  padding: 15px 20px;
  border-radius: 25px;
}
.get-in_tg span {
  color: rgba(255, 255, 255, 1);
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
}
/* get end */
.footer-block span {
  color: rgba(255, 122, 80, 1);
}

.footer-block2 {
  display: flex;
}
.footer-block2 h4 {
  font-size: 16px;
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-block: 40px;
}

.footer li {
  font-size: 18px;
  margin: 30px;
  font-weight: 500;
  list-style: none;
  color: rgba(55, 56, 61, 1);
}

.footer-end {
  border-top: 1px solid #646464;
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  p {
    color: #646464;
    font-size: clamp(0.688rem, 0.556rem + 0.66vw, 1rem);
  }
  nav {
    display: flex;
    gap: 30px;
    a {
      color: #646464;
      font-size: 16px;
    }
  }
}
